.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 20px; /* Añade un poco de relleno para que no quede pegado a los bordes */
    margin-top: 20px; /* Añade un margen superior para separar del header */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
    width: 100%; 
}