
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Cardo",  sans-serif;
  --nav-font: "Inter",  sans-serif;
}

:root { 
  --background-color: #000000; 
  --default-color: #fafafa; 
  --heading-color: #ffffff; 
  --accent-color: #27a776; 
  --contrast-color: #161718;
}

:root {
  --nav-color: rgba(255, 255, 255, 0.5);  
  --nav-hover-color: #ffffff; 
  --nav-dropdown-background-color: #161718; 
  --nav-dropdown-color: rgba(255, 255, 255, 0.5); 
  --nav-dropdown-hover-color: #ffffff; 
}

:root {
  scroll-behavior: smooth;
}
